[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "YarnSpinner"]
	path = YarnSpinner
	url = https://github.com/YarnSpinnerTool/YarnSpinner
[submodule "YarnSpinner-Console"]
	path = YarnSpinner-Console
	url = https://github.com/YarnSpinnerTool/YarnSpinner-Console
